body {
    font-family: fantasy;
    font-size: 20px;
    background-color: #BEE9E8;
    padding: 0;
    margin: 0;
}

/* displaying aa flex centers it in the container */
.loginContainer {
    border: 6px solid #1B4965;
    height: 90vh;
    display: flex;
    background-color: #5FA8D3;
}

#login {
    border: 7px ridge #BEE9E8;
    background-color: #CAE9FF;
    padding: 50px;
    margin: auto;
    max-width: 700px;
}

/* applied border per assignment directions */
.h3login {
    text-align: center;
    color: #1B4965;
    padding: 10px;
    border: 7px ridge #BEE9E8;
}

/* display input buttons and submit in column format */
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.loginInput {
    display: flex;
    justify-content: center;
    padding: 8px;
}
label {
    padding-right: 8px;
}

input {
    background-color: #BEE9E8;
}

.submit {
    background-color: #5FA8D3;
}